header {
    display: flex;
    justify-content: space-between;
    background-color: #1b2a49;
    width: 100%;
    position: fixed;
    padding: 40px 100px; 
    align-items: center;
}

#titulo-logo {
    font-size: 40px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-left: 130px;
}

nav {
    padding-right: 200px;
}

a {
    color: #FFF;
    font-size: 15px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

#button {
    display: inline-block;
    color: #FFF;
    background-color: #000;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    margin-right: 0;
    transition: transform 100ms linear;
}

#button:hover {
    transform: scale(1.05);
}

main {
    max-width: 100%;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

#image-container {
    display: flex;
    justify-content: center;
}

#conteudo {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 0 200px;
}

h1 {
    color: black;
    font-size: 40px;
    font-family: "Cambo", Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
}

h2 {
    color: black;
    font-size: 18px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 900;
}

h3 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #636363;
    line-height: 20px;
    font-weight: 400;
}

#membro {
    border-radius: 7px;
}

#equipe {
    max-width: 370px;
    min-width: 370px;
    margin-bottom: 20px;
}

#projeto {
    max-width: 370px;
    min-width: 370px;
    margin-bottom: 20px;
}

#justificativa {
    max-width: 370px;
    min-width: 370px;
    margin-bottom: 20px;
}

#tema {
    max-width: 370px;
    min-width: 370px;
    margin-bottom: 20px;
}

#extensao {
    max-width: 370px;
    min-width: 370px;
    margin-bottom: 20px;
}

#curso {
    max-width: 370px;
    min-width: 370px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    max-width: 100%;
    background-color: #1b2a49;
    padding: 40px 100px; 
    justify-content: space-between;

}

#descricao-footer {
    display: block;
    max-width: 30%;
}

#titulo-descricao {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16.8px;
    font-weight: 700;
    padding: 0;
    color: #FFF;
}

#texto-descricao {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #cfd6e4;
    line-height: 20px;
    font-weight: 400;
}

#descricao-image {
    margin-right: 20px;
}

#social-footer {
    display:block;
    max-width: 30%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#titulo-social {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16.8px;
    font-weight: 700;
    color: #FFF;
}

#texto-social {
    display: block;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #cfd6e4;
    line-height: 20px;
    font-weight: 400;
    margin-top: 12.45px;
    padding: 0;
}

#texto-social:hover {
    text-decoration: underline;
}

#projetos-footer {
    display:block;
    max-width: 30%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#titulo-projetos {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16.8px;
    font-weight: 700;
    color: #FFF;
}

#texto-projetos {
    display: block;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #cfd6e4;
    line-height: 20px;
    font-weight: 400;
    margin-top: 12.45px;
    padding: 0;
}

#texto-projetos:hover {
    text-decoration: underline;
}

#parcerias-footer {
    display:block;
    max-width: 30%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#titulo-parcerias {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16.8px;
    font-weight: 700;
    color: #FFF;
}

#texto-parcerias {
    display: block;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #cfd6e4;
    line-height: 20px;
    font-weight: 400;
    margin-top: 12.45px;
    padding: 0;
}

#texto-parcerias:hover {
    text-decoration: underline;
}